<div class="col-xs-12 col-md-6">
  <div class="recommend-class">
    <div class="body">
      <a class="name ellipsis" href="<%=class_link %>" title="<%=title %>" ><%=title %></a>

      <div class="datetime pull-left">
        <span class="time"><%=time %></span>
        <span class="date"><%=date %></span>
      </div>

      <div class="lecturer pull-right">
        <div class="avatar-md">
          <a href="<%=user_link %>" >
            <img src="<%=pic %>" class="avatar-img" alt="">
          </a>
        </div>
        <a class="ellipsis user" href="<%=user_link %>" ><%=lecturer_realname %></a>
        <div class="score">
          <span class="int"><%=score_int %></span>
          <span class="float"><%=score_float %></span>
        </div>
      </div>
    </div>
  </div>
</div>