<div class="item-wrapper">
  <div class="class-item">
    <a class="thumb taped" href="<%=taped_link %>" >
      <div class="highlight">
        <span class="state glyphicon glyphicon-film"  ></span>
      </div>
    </a>

    <div class="body">
      <span class="name">
        <a href="<%=taped_link %>" ><%=name %></a>
      </span>

      <div class="buttons">
        <a href="editTaped.html?id=<%=clid %>" class="btn edit-btn" title="<%=edit %>" >
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="#" class="btn remove-btn" title="<%=remove %>">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </div>
    </div>
  </div>
</div>