<div class="item-wrapper">
  <div class="courseware-item">
    <i class="icon32 icon_<%=ext %>"></i>
    <span class="name">
      <a href="/Public/preview.html?id=<%=id %>" target="_blank"><%=name %></a>
    </span>

    <p class="type"><%=ext %></p>
    <p><%=uploadtime %></p>
    <div class="item-buttons">
      <a href="#" class="btn edit-btn" title="<%=edit %>" >
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a href="#" class="btn remove-btn" title="<%=remove %>">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
  </div>
</div>