<div class="row">
	<div class="col-xs-5">
		<div class="input-group">
		  <input type="text" class="form-control" name="name">
		  <span class="input-group-btn">
		  	<button class="btn btn-primary search-btn" type="button" >
		  		<span class="glyphicon glyphicon-search"></span>
		  	</button>
		  </span>
		</div>
	</div>

	<div class="col-xs-4">
		<div class="input-group">
      <select class="form-control" name="group" ></select>
      <span class="input-group-btn">
        <button class="btn btn-primary add-all" type="button" disabled >
        	<span class="glyphicon glyphicon-plus"></span> <%=add_all %>
        </button>
      </span>
    </div>
		
	</div>
</div>