<div class="circle-box c-add">
  <div class="circle" data-toggle="modal" data-target="#groupAdd">
    <div class="content" >
      <div class="content-inner">
        <div class="plus">
          <div class="plus-v"></div>
          <div class="plus-h"></div>
        </div>
        <span class="text"><%=add_group %></span>
      </div>
    </div>
    <div class="circle-bg"></div>
  </div>
</div>
<div class="circle-box c-all">
  <div class="circle special" data-gid="all" title="<%=all_user %>">
    <div class="content" >
      <div class="content-inner">
        <span class="name"><%=all_user %></span>
      </div>
    </div>
    <div class="circle-bg"></div>
  </div>
</div>
<div class="circle-box c-org">
  <div class="circle special" data-gid="org" title="<%=org_student %>" >
    <div class="content" >
      <div class="content-inner">
        <span class="name"><%=org_student %></span>
      </div>
    </div>
    <div class="circle-bg"></div>
  </div>
</div>