<div id="global-add-box">
  <div class="container">
    <div class="float-action-box dropdown pull-right non-select">
      <a href="javascript:;" class="float-action-btn dropdown-toggle non-select" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"> + </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="role-drop">
        <li>
          <a href="/Public/createClass.html" >
            <span class="btn btn-warning">
              <span class="glyphicon glyphicon-headphones"></span>
            </span> 
            <label for=""><%=live_classes %></label> 
          </a>
        </li>
        <li>
          <a href="/Public/createTaped.html" >
            <span class="btn btn-success">
              <span class="glyphicon glyphicon-facetime-video"></span>
            </span> 
            <label for=""><%=taped_class %></label> 
          </a>
        </li>
        <li>
          <a href="/Public/createSeries.html" >
            <span class="btn btn-primary">
              <span class="glyphicon glyphicon-book"></span>
            </span> 
            <label for=""><%=nav_series %></label> 
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>