<footer id="footer" class="main-footer" >
  <section class="links">
    <div class="container">
   
      <div class="col-xs-6 col-sm-3">
        <div class="block">
          <h4>
            <a href="http://www.chinesecio.com/about_us.php" target="_blank"><%=footer_about %></a>
          </h4>
          <ul>
            <li><a href="/Public/notes.html"><%=notes_for_teachers %></a></li>
            <li><a href="http://www.chinesecio.com/privacy_terms.php" target="_blank"><%=footer_privacy_terms %></a></li>
            <li><a href="http://www.chinesecio.com/agreement.php" target="_blank"><%=footer_agreement %></a></li>
            <li><a href="http://www.chinesecio.com/statement.php" target="_blank"><%=footer_statement %></a></li>
            <li><a href="http://www.chinesecio.com/contact.php" target="_blank"><%=footer_contact %></a></li>
            <li><a href="/Public/complaint.html" target="_blank"><%=about_complaint %></a></li>
            <li><a href="http://www.chinesecio.com/feedback.php" target="_blank"><%=footer_feedback %></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-6 col-sm-3">
        <div class="block">
          <h4><a href="http://service.chinesecio.com/help"><%=help_center %></a></h4>
          <ul>
            <!-- <li><a href="javascript:;" id="service_online"><%=online_service %></a></li> -->
            <li><a href="mailTo:liushan@chinesecio.com"><%=cooperate %></a></li>
            <li><a href="mailTo:contact@chinesecio.com"><%=suggest %></a></li>
            <li><a href="mailTo:lijinlong@chinesecio.com"><%=complaint %></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="block">
          <h4><%=follow_us %></h4>
          <ul class="sns">
            <li><a href="javascript:;" id="weixin-btn" class="sns-weixin"></a></li>
            <li style="display:none;"><a href="https://www.facebook.com/effie.liu.716" target="_blank" class="sns-fb"></a></li>
            <li><a href="https://twitter.com/ConfuciusInsti3" target="_blank" class="sns-twitter"></a></li>
            <li><a href="http://weibo.com/chinesecio" target="_blank" class="sns-weibo"></a></li>
            <li><a href="http://t.qq.com/wangluokongzixue" target="_blank" class="sns-qqweibo"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="copyright">
    <div class="container">
      <div class="col-xs-12">
        <p><%=footer_copyright %></p>
        <p>京ICP备13044591号</p>
        <p>网络视听许可证0109385号</p>
        <p>京ICP证140531号</p>
        <p><%=footer_company %></p>
      </div>
    </div>
  </section>
</footer>
