<div id="services">
  <div id="service_icon"></div>
  <a id="service_help" class="services-sy" href="#" target="_blank">
    <label style="display:none;"><%=help_center %></label>
  </a>
  <div id="service_online" class="services-sy">
    <label style="display:none;"><%=online_service %></label>
  </div>
  <div id="service_contact" class="services-sy">
    <label style="display:none;">
      <a href="mailTo:liushan@chinesecio.com"><%=cooperate %></a> | 
      <a href="mailTo:contact@chinesecio.com"><%=suggest %></a> | 
      <a href="mailTo:lijinlong@chinesecio.com"><%=complaint %></a>
    </label>
  </div>
</div>

<div style="width: 90px;  position: fixed; top: 410px; right: 3px; display: block; z-index: 100; padding: 5px; background: #ddd;font-family: Arial;">
  <p style="font-weight: normal; text-align: center; font-size: 12px; margin-bottom:5px;">微信二维码</p>
  <img src="/Public/img/weixin.jpg" alt="#" width="80">
  <p style="font-weight: normal;  font-size: 12px; line-height: 2em; margin-bottom:0;margin-left: 0;margin-right: 0; text-align:center;">网络孔子学院</p>
</div>