<div class="course-item">
  <div class="thumb">
    <div class="img-overlay "> 
      <a class="thumb-btn animated fadeInUp" href="<%=url %>"><%=enter %></a> 
    </div>
    <img src="<%=img %>" alt="">
  </div>
  <div class="lecturer">
    <div class="avatar-sm">
      <img src="<%=lecturer_avatar %>" alt="">
    </div>
    <span class="ellipsis"><%=lecturer_name %></span>
  </div>

  <a class="name" href="<%=url %>"><%=title %></a>

  <div class="info">
    <span class="date" title="<%=date_text %>"><i class="icon icon-date"></i><%=date %></span><br>
    <span class="time" title="<%=lesson %>"><i class="icon icon-time"></i><%=time %> <%=hours %></span>
  </div>
  <img src="<%=org_avatar %>" class="org">
</div>